<%- include ('partials/header.ejs')%> <%- include ('partials/navbar.ejs')%>

    <main id="page">
      <br>
      <div class="container">
        <div class="card">
          <div class="card-header green">
            <h1>Clientes</h1>
          </div>

          <div class="card-body">
            <table>
              <thead>
                <tr>
                  <th style="width: 50px;"></th>
                  <th style="width: 200px;">Nome:</th>
                  <th style="width: 150px;">CPF:</th>
                  <th style="width: 300px;">Endereço:</th>
                </tr>
              </thead>

              <% cliente.forEach((cliente)=>{%>
                <tbody>
                  <tr>
                    <td><img src="imgs/cliente.png" width="25px"></td>
                    <td style=" height: 30px;">
                      <%= cliente.nome %>
                    </td>
                    <td>
                      <%= cliente.cpf %>
                    </td>
                    <td>
                      <%= cliente.endereco %>
                    </td>
                  </tr>
                </tbody>
                <%})%>
            </table>
          </div>
        </div>
    </main>

    <%- include ('partials/footer.ejs')%>