<%- include ('partials/header.ejs')%> <%- include ('partials/navbar.ejs')%>

    <main id="page">
      <div class="container">
      <div class="card">
        <div class="card-header green">
        <h1>Pedidos</h1>
        </div>

        <div class="card-body">
          <table>
            <thead>
              <tr>
                <th style="width: 170px;">Número do pedido:</th>
                <th style="width: 150px;">Valor:</th>
              </tr>
            </thead>

            <% pedidos.forEach((pedidos)=>{%>
              <tbody>
                <tr>
                  <td style="height: 30px;">
                    <%= pedidos.nmrpedido %>
                  </td>
                  <td>
                    <%= pedidos.valor.toLocaleString("pt-br",{ style: "currency" , currency:"BRL"}) %>
                  </td>
                </tr>
              </tbody>
              <%})%>
          </table>
        </div>
      </div>
    </main>

    <%- include ('partials/footer.ejs')%>