<%- include ('partials/header.ejs')%> <%- include ('partials/navbar.ejs')%>

    <main id="page">
      <div class="container-fluid">
        <br><br>
        <h1 style="color: #1a3a2c;">Pedidos</h1>
        <div class="divisao"></div>
        <br><br>

        <!-- tabela -->
        <div class="table-a mx-auto">
          <table class="table mt-4">
            <thead>
              <tr>
                <th scope="col">Número do pedido:</th>
                <th scope="col">Valor:</th>
              </tr>
            </thead>

            <% pedidos.forEach((pedidos)=>{%>
              <tbody>
                <tr>
                  <td>
                    <%= pedidos.nmrpedido %>
                  </td>
                  <td>
                    <%= pedidos.valor.toLocaleString("pt-br",{ style: "currency" , currency:"BRL"}) %>
                  </td>
                </tr>
              </tbody>
              <%})%>
          </table>
        </div>
      </div>
    </main>

    <%- include ('partials/footer.ejs')%>