<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Editar Produtos</h1>
            <hr>
        </div>
        <div class="card-body">
            <form action="/produtos/update" method="POST">
                <label>Nome:</label>
                <input class="form-control" type="text" name="produto" id="produto" value="<%= produtos.nome %>" required>
                <label>Preco:</label>
                <input class="form-control" type="text" name="preco" id="preco" value="<%= produtos.preco %>" required>
                <label>Categoria:</label>
                <input class="form-control" type="text" name="categoria" id="categoria" value="<%= produtos.categoria %>" required>
                <input type="hidden" name="id" value="<%= produtos.id %>">
                <input type="submit" class="btn btn-warning" value="alterar" onclick="return confirm('Confirmar as alterações para o produto <%=produtos.nome%>?')">
            </form>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>