<%- include ('partials/header.ejs')%> <%- include ('partials/navbar.ejs')%>

    <!-- <main id="page">
      <div class="container-fluid">

        <br><br>
        <h1 style="color: #1a3a2c;">Produtos</h1>
        <div class="divisao"></div>
        <br><br>

        <!-- tabela 
        <div class="table-a mx-auto">
          <table class="table mt-4">
            <thead>
              <tr>
                <th scope="col">Produto:</th>
                <th scope="col">Preço:</th>
                <th scope="col">Categoria:</th>
              </tr>
            </thead>

            <% produtos.forEach((produtos)=>{%>
              <tbody>
                <td>
                  <%= produtos.produto %>
                </td>
                <td>
                  <%= produtos.preco.toLocaleString("pt-br",{ style: "currency" , currency:"BRL"}) %>
                </td>
                <td>
                  <%= produtos.categoria %>
                </td>
                </tr>
              </tbody>

              <%})%>
          </table>
        </div>
      </div>
    </main> -->

    <main>
    <div class="container">
      <div class="card">
          <div class="card-header">
              <h1>Cadastrar produtos</h1>
          </div>
   
      <div class="card-body">
          <form action="/produtos/new" method="post">
              <label>Nome do Produto:</label>
              <input type="text" name="produto" id="produto" placeholder="Insira o nome do produto" class="form-control" required>
   
              <label>Valor:</label>
              <input type="text" name="preco" id="preco" placeholder="Insira o preco" class="form-control" required>
   
              <label>Categoria:</label>
              <input type="text" name="categoria" id="categoria" placeholder="Insira a categoria" class="form-control" required>
              <br>
              <input type="submit" class="btn btn-success" value="Cadastrar">
          </form>
          <hr>
      </div>
   </div>
  </div>  
  
  <div class="container">
          <div class="card">
              <div class="card-header">
                  <h1>Produtos</h1>
              </div>
              <div class="card-body">
                  <table>
                      <thead>
                          <tr>
                              <th></th>
                              <th>Nome:</th>
                              <th>Preço:</th>
                              <th>Categoria:</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% produtos.forEach(produto => { %>
                          <tr>
                              <td><img src="imgs/product.png" width="30px"></td>
                              <td><%= produto.produto %></td>
                              <td><%= produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                              <td><%= produto.categoria %></td>
                              <td> <a style="color: orange;" href="/produtos/edit/<%= produto.id %>"> Editar </a></td>
                              <td> <a style="color: red;" href="/produtos/delete/<%= produto.id %>"> Deletar </a></td>
                          </tr>
                          <% }) %>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </main>

    <%- include ('partials/footer.ejs')%>